html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
ul, li {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(18, 148, 235);
}
a:hover {
  text-decoration: underline;
}
.navigation-sidebar {
  background-color: rgb(0, 132, 255);
  width: 20%;
  height: 100vh;
  visibility: hidden;
  top: 0;
  right: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 10;
  transform: translate(25rem);
  transition: transform 0.5s ease, visibility 0.5s;
}
.nav-visible {
  visibility: visible;
  transform: translateX(0);
}
.open-close-nav-btn .open-close-toggle {
  background-color:rgba(190, 190, 190, 0.5);
  object-fit: cover;
  height: 50px;
  border-radius: 8px;
  position: fixed;
  top: 14px;
  right: 16px;
  cursor: pointer;
}
.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 13, 175);
  padding: 1em;
}
.navigation-sidebar p {
  color: #fff;
  font-size: 1.4em;
  padding: .5em;
}
.navigation-sidebar a {
  color: #fff;
  font-size: 1.2em;
}
.navigation-sidebar li {
  padding: 1em;
}
.navigation-sidebar li:hover {
  background-color: rgba(167, 7, 100, .6);
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(assets/joanna-kosinska-hero.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
h1 {
  font-size: 4.5em;
  color: #fff;
  text-shadow: 3px 5px 6px rgba(43, 42, 42, .9);
}
header p {
  font-size: 1.5em;
  padding: .5em;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 3px 4px rgba(43, 42, 42, .8);
}
.cta-btn,
.download-now {
  font-size: 1.2em;
  margin-top: 3em;
  padding: 1.1em 1.5em;
  border: none;
  border-radius: 8px;
  background-color: rgb(167, 7, 100);
  color: #fff;
  cursor: pointer;
}
.cta-btn:hover,
.download-now:hover {
  background-color: rgba(167, 7, 100, .7);
}
#project-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#project-offer h3 {
  font-size: 2em;
  color: rgb(34, 34, 34);
}
#project-offer p {
  padding: .5em;
  font-size: 1.1em;
  font-weight: 300;
}
.offer {
  border: none;
  border-radius: 8px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  font-size: 1em;
  padding: 1em 1.5em;
  margin-top: 2.5em;
  cursor: pointer;
}
.offer:hover {
  background-color: rgba(34, 34, 34, .8);
}
#services {
  background-color: rgb(0, 132, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}
#services h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgb(255, 187, 0);
  text-shadow: 2px 1px 2px rgba(43, 42, 42, .96);
  letter-spacing: 2px;
}
.services-subtitle {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 1em;
}
.services-container {
  display: flex;
  justify-content: space-between;
}
.services-provided {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 1em;
  width: 300px;
  text-align: center;
}
.services-provided h4 {
  font-size: 1.5em;
  margin: 1em;
}
.services-img-container {
  background-color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}
.services-img-container img {
  object-fit: cover;
  margin-top: 1.5em;
  opacity: .8;
}
#new-website {
  background: url(assets/joanna-kosinska-yellow-scissors.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  text-align: center;
}
#new-website h3 {
  font-size: 3em;
  color: rgb(34, 34, 34);
  text-shadow: 1px 1px 2px rgba(43, 42, 42, .8);
}
#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 4em 0;
}
#portfolio h3 {
  color: rgb(255, 187, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.portfolio-subtitle {
  font-size: 3em;
  font-weight: 700;
  color: rgb(34, 34, 34);
  margin-bottom: 1.5em;
}
.portfolio-container {
  display: flex;
}
.portfolio-row1,
.portfolio-row2 {
  flex-basis: 100%;
}
.portfolio-item-background {
  height: 350px;
}
.stationary {
  background: url(assets/joanna-kosinska-1-yellow-pencils.jpg) no-repeat;
  background-size: cover;
}
.dark-blue {
  background: url(assets/joanna-kosinska-dark-blue.jpg) no-repeat;
  background-size: cover;
}
.maroon {
  background: url(assets/joanna-kosinska-maroon.jpg) no-repeat;
  background-size: cover;
}
.grey {
  background: url(assets/kelly-sikkema-grey.jpg) no-repeat;
  background-size: cover;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content:  flex-end;
  color: #fff;
  padding: 1em 1em 5em 1em;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.portfolio-item h4 {
  text-transform: uppercase;
  font-size: .9em;
  margin: .5em 0;
  text-shadow: 1px 1px 2px rgba(43, 42, 42, .8);
}
.portfolio-item p {
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(43, 42, 42, .8);
}
.dark-blue h4,
.maroon h4, 
.dark-blue p,
.maroon p {
  text-align: right;
}
#press-me-btns {
  background-color: rgb(70, 13, 175);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
}
#press-me-btns h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}
.click-me,
.look-at-me {
  font-size: 1.2em;
  margin-top: 1.5em;
  padding: 1.1em 1.5em;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.click-me {
  background-color: rgb(167, 7, 100);
  margin-right: 2em;
}
.click-me:hover {
  background-color: rgba(167, 7, 100, .6);
}
.look-at-me {
  background-color: rgb(0, 132, 255);
}
.look-at-me:hover {
  background-color: rgba(0, 132, 255, .6);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em;
  width: 20%;
}
.media-bg {
  background-color: lightgrey;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}